@import url('https://fonts.googleapis.com/css2?family=Dongle&family=Gowun+Dodum&family=Jua&family=Noto+Sans+KR:wght@100..900&display=swap');
*{margin: 0; padding: 0; box-sizing: border-box;}
li{list-style: none;}
a{text-decoration: none; color: #000;}
body{font-size: 14px;}
img{display:block; width: 100%; height: 100%;}
.on{font-weight: 700; background-color: #fff;}
h1 {
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
#chartDiv {
    width: 600px;
    height: 400px;
    margin: 40px auto;
    font-size: 14px;
    opacity: 0;
}
/* header 영역 시작*/
header {width: 100%;}
header{position: sticky; top: 0;  height: 50px; z-index: 1000; background-color: #fff;}
/*header{background-color: #4CAF50; border-bottom: 1px solid #9e9e9e;}*/
header #header_wrap{display: flex; height: 50px; position: sticky; top: 60px; z-index: 900; margin: 0 35px; padding: 0 24px; background-color: #fff;}
header #header_wrap #logo{display: block;width: 200px; height: 50px;}
header nav .Main{display: flex; position: sticky; width: 100%;}
header nav .Main li {width: 120px; height: 50px; font-size: 1.5em; line-height: 50px; text-align: center;}
header nav .Main li a{display: block; width: 100%; height: 100%; color: #000;}
header #rightWrap{display: flex; justify-content: flex-end; align-items: center; width: 100%; margin-right: 35px; padding-right: 24px;}
header #rightWrap div:nth-of-type(1){width: 30px; height: 30px; margin: 30px;}
header #rightWrap div:nth-of-type(2){width: 100px; text-align: center; line-height: 40px; margin: 5px;  border-radius: 24px; background-color: #000;}
header #rightWrap div:nth-of-type(2) a{color: #fff;}
/* header 영역 종료 */
/* Section Sub메뉴 시작 */
.headsec{position: sticky; height: 44px; top: 50px; z-index: 900; border-top: 1px solid #9e9e9e; border-bottom: 1px solid #9e9e9e; background-color: #fff;}
.headsec #Sub .submenu{display: flex;}
.headsec #Sub div:nth-of-type(1){height: 44px; line-height: 44px; margin-left: 90px;}
.headsec #Sub .submenu li{position: relative; left: 66px; height: 44px; text-align: center; line-height: 44px; margin: 0 20px 0 30px;}
/* Section Sub메뉴 종료 */

/* 1section 영역 시작 */
.n1 { background-color: #CBE4C9; margin: 0 auto; width: 75%; height:700px; display: flex; border: 1px solid lightgray; justify-content: space-evenly; align-items: center;}
.n1 article {  border-radius: 20px; border: 1px solid lightgray; }
.n1 > article:nth-child(1) { background-color: white; width: 600px; height: 550px; display: flex; align-items: center; justify-content: center; }
.n1 > article:nth-child(1) > div { width: 380px; height: 450px; }
.n1 > article:nth-child(1) > div > img { width: 380px; height: 450px; border-radius: 12px; object-fit: cover; object-position: center;}
.n1 > article:nth-child(2) { background-color: white; width: 700px; height: 550px;  display: flex; flex-direction: column;}
.n1 > article:nth-child(2) > .asdwrap { width: 100%; height: 70px; display: flex; cursor: pointer; }
.n1 > article:nth-child(2) > .asdwrap > aside:nth-child(1) { width: 300px; height: 70px; background-color: #1e1e1e; color: white; font-size: 16px;  text-align: center; border-bottom-left-radius: 20px;}
.n1 > article:nth-child(2) > .asdwrap > aside:nth-child(1) > p { line-height: 70px; }
.n1 > article:nth-child(2) > .asdwrap > aside:nth-child(2) { width: calc(100% - 400px); height: 70px; font-size: 16px; border-top: 1px solid lightgray; text-align: center; )}
.n1 > article:nth-child(2) > .asdwrap > aside:nth-child(2) > p { line-height: 70px; }
.n1 > article:nth-child(2) > .asdwrap > aside:nth-child(3) { width: 100px; height: 70px; font-size: 16px; text-align: center; border-left: 1px solid lightgray; border-top: 1px solid lightgray; border-bottom-right-radius: 20px;}
.n1 > article:nth-child(2) > .asdwrap > aside:nth-child(3) > p { line-height: 70px; font-size: 20px;  }
.n1 .divwrap { width: 620px; height: 550px; display: flex; flex-direction: column; margin: 0 auto; align-items: center; justify-content: space-evenly;}
.n1 .divwrap > div:nth-child(1) { display: flex; flex-direction: column; justify-content: space-around; width:620px; height: 250px; }
.n1 .divwrap > div:nth-child(2) { margin-top: 20px; display: flex; align-items: end; width: 620px; height: 50px; border-top: 1px solid lightgray;}
.n1 .divwrap > div:nth-child(1) > h1 { font-size: 20px; padding: 0 0 10px 0; }
.n1 .divwrap > div:nth-child(1) > h3 { font-size: 18px; padding: 40px 0 20px 0; font-weight: 500; }
.n1 .divwrap > div:nth-child(1) > p { font-size: 15px; padding: 30px 0 0 0; }

/*1section 영역 종료*/

/* 2section 영역 시작 */
.n2 {background-color: lightgoldenrodyellow; margin: 0 auto; width: 75%; height: 700px; display: flex; border: 1px solid lightgray; justify-content: space-evenly; align-items: center; }
.n2 .atcwrap { width: 500px; height: 500px;}
.n2 > article:nth-child(1) { background-color: white; width: 600px; height: 500px; border-radius: 20px; border: 1px solid lightgray; }
.n2 .atcwrap article:nth-child(1) {background-color: white; width: 500px; height: 240px; border-radius: 20px; border: 1px solid lightgray; margin-bottom: 20px; }
.n2 .atcwrap article:nth-child(2) {background-color: white; width: 500px; height: 240px; border-radius: 20px; border: 1px solid lightgray; }
.n2 .atcwrap > article:nth-child(1) > p:nth-child(1) { margin: 80px 0 0 40px; font-size: 16px; text-align: center; }
.n2 .atcwrap > article:nth-child(1) > p:nth-child(2) { margin: 40px 0 0 40px; font-size: 16px; text-align: center; font-weight: 600; }
.n2 > .atcwrap > article:nth-child(2) > p:nth-child(1) { margin-top: 70px; font-size: 16px; text-align: center; }
.n2 > .atcwrap > article:nth-child(2) > p:nth-child(2) { margin: 40px 0 0 0; font-size: 16px; text-align: center; font-weight: 600;}
/*2section 영역 종료*/

/*3section 영역 시작*/
.n3 { margin: 0 auto; width: 75%; height: 250px; border: 1px solid lightgray; }
.n3 h2 { font-size: 25px; margin: 40px 0 0 40px;}
.n3 p {margin: 40px 0 0 40px; font-size: 15px; }
/*3section 영역 종료*/

/*footer 영역 시작*/
footer { margin: 0 auto; width: 75%; height: 120px; border: 1px solid lightgray; background-color: lightgray; border-bottom-left-radius: 12px; border-bottom-right-radius: 12px; }
footer ul { width: 100%; height: 120px; display: flex; justify-content: space-evenly; align-items: center;}
footer li { border-right: 1px solid darkgray; width:calc(100% / 6); height: 80px; text-align: center;  }
footer > ul > li:nth-child(6) { border: none; }
footer h6 { font-size: 15px; padding-top: 12px; height: 40px; }
footer h5 { font-size: 15px; padding-top: 12px; height: 40px; color: gray; }


/* 모바일 버전 헤더 영역 */
#mobile{display: none; position: sticky; bottom: 0;  height: 80px; z-index: 1000; background-color: #fff;}
#mobile div{display: flex; justify-content: space-evenly; text-align: center;}
#mobile div a img{width: 30px; height: 30px; margin-top: 15px; margin-left: 5px;}


/*반응형*/
@media screen and (max-width: 1024px) {
    header #header_wrap{margin: 0 110px; padding: 0;}
    header #header_wrap #logo{width: auto;height: auto;}
    header #header_wrap #pc{display: none;}
    header #rightWrap{display: none;}
    /* 서브메뉴 영역 */
    .headsec #Sub .submenu li{left: 0; margin: 0 0 0 40px;}
    /* 모바일 헤더 영역 */
    #mobile{display: block;}

    .n1 { display: block; margin: 0; width: 100%; height: auto;}
    .n1 article { border: none;}
    .n1 > article:nth-child(1) { background: none; display: block; width: auto; height: auto; }
    .n1 > article:nth-child(1) > div{width: auto; height: auto;}
    .n1 > article:nth-child(2) { background: none;width: 100%; height: auto; display: block;}
    .n1 .divwrap { width: 100%; display: block; height: auto; }
    .n1 .divwrap > div:nth-child(1) { width: 100%; height: auto; display: block; padding: 10px;}
    .n1 .divwrap > div:nth-child(1) > h3 { padding: 20px 0 20px 0;}
    .n1 .divwrap > div:nth-child(1) > p { padding: 10px 0 0 0; }
    .n1 > article:nth-child(2) > .asdwrap { height: auto; display: block;}
    .n1 > article:nth-child(2) > .asdwrap > aside:nth-child(1) { width: auto; height: auto; display: block; border-radius: 0;}
    .n1 > article:nth-child(2) > .asdwrap > aside:nth-child(2) { width: auto; height: auto; display: block; border-radius: 0; border: none; background-color: white; }
    .n1 > article:nth-child(2) > .asdwrap > aside:nth-child(3) { display: none;}
    .n1 > article:nth-child(1) > div > img { width: 100%; height: auto; border-radius: 0;}
    .n1 .divwrap > div:nth-child(2) { width: 100%; height: auto; display: block; margin: 0; border: none;}
    .n1 .divwrap > div:nth-child(2) h3 { padding: 10px;}
    .n2 { width: 100%; height: auto; display: block; border: none; margin: 0;}
    .n2 > article:nth-child(1) { display: block; width: 100%; height:240px; border: none; border-radius: 0; background-image: url("../images/chart.jpg"); background-size: cover; }
    #chartDiv { display: none; }
    .n2 .atcwrap { width: 100%; height: auto;}
    .n2 .atcwrap article:nth-child(1) { width: 100%; height: 120px; background: none; border: none; border-radius: 0; margin: 0;}
    .n2 .atcwrap > article:nth-child(1) > p:nth-child(1) { margin: 0; padding-top: 40px; }
    .n2 .atcwrap > article:nth-child(1) > p:nth-child(2) { margin: 0; }
    .n2 .atcwrap article:nth-child(2) { width: 100%; height: 120px; background: none; border: none; border-radius: 0; margin: 0;}
    .n2 > .atcwrap > article:nth-child(2) > p:nth-child(1) { margin: 0; padding-top: 20px; }
    .n2 > .atcwrap > article:nth-child(2) > p:nth-child(2) { margin: 0; }
    .n3 { width: 100%; height: auto; display: block; border-bottom: 1px solid lightgray; margin: 0;}
    .n3 h2 { margin: 0; padding: 10px;}
    .n3 p { margin: 0;  padding: 10px; }
    footer {width: 100%; height: auto; border: none; border-bottom-left-radius: 0; border-bottom-right-radius: 0;}
    footer ul { width: 100%; height: auto; flex-wrap: wrap;}
    footer li { width: 100px; height: auto; border: none; }
}




